openapi: 3.0.0
servers:
  - url: https://archon-api.aggso.com
    description: Default server
  # - url: //petstore.swagger.io/sandbox
  #   description: Sandbox server
  # - ulr: https://archon-api.aggso.com
  #   description: archon
info:
  description: |
    This is a sample server Petstore server.
    You can find out more about Swagger at
    [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).
    For this sample, you can use the api key `special-key` to test the authorization filters.
    # Authentication

    # Petstore offers two forms of authentication:
    #   - API Key
    #   - OAuth2
    # OAuth2 - an open protocol to allow secure authorization in a simple
    # and standard method from web, mobile and desktop applications.

    # <security-definitions /> 

  version: 1.0.0
  title: Swagger Petstore
  termsOfService: 'http://swagger.io/terms/'
  contact:
    name: API Support
    email: apiteam@swagger.io
    url: https://github.com/Rebilly/ReDoc
  x-logo:
    url: 'https://rebilly.github.io/ReDoc/petstore-logo.png'
    altText: Petstore logo
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
externalDocs:
  description: Find out how to create Github repo for your OpenAPI spec.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
tags:
  - name: news 
    description: 新闻-Api
  - name: thinktanks 
    description: 智库-Api
paths:
  /v2/dump/task:
    get:
      tags:
        - news
      summary: Dump-Api
      # description: Dump-Api
      parameters:
        - name: access_token
          in: query
          description: 令牌
          required: true
          schema: 
            type: string
        - name: category
          in: query
          description: 数据类别(固定值：news)
          required: true
          schema: 
            type: string
            enum:
                - news
        - name: tagid
          in: query
          description: 标签id(只接受单个tagid)
          required: true
          schema: 
            type: string
            enum:
                - "252"
        - name: offset_id
          in: query
          description: 翻页参数(偏移量id)
          required: false
          schema: 
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/News'
            # application/xml:
            #   schema:
            #     $ref: '#/components/schemas/Order'
        '400':
          description: Invalid token supplied
        '404':
          description: Page not found
  /v2/thinktanks/thinktanks:
    get:
      tags:
        - thinktanks
      summary: List-Api
      # description:
      parameters:
        - name: access_token
          in: query
          description: 令牌
          required: true
          schema: 
            type: string
        - name: tagid
          in: query
          description: 标签id
          required: true
          schema: 
            type: string
            enum:
                - "252"
        - name: size
          in: query
          description: 每页返回数量(最大值 100)
          required: false
          schema: 
            type: integer
            maximum: 100
        - name: offset_id
          in: query
          description: 翻页参数(偏移量id)
          required: false
          schema: 
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thinktanks'
            # application/xml:
            #   schema:
            #     $ref: '#/components/schemas/Order'
        '400':
          description: Invalid token supplied
        '404':
          description: Page not found
  
components:
  schemas:
    NewsPartFile:
      type: object
      properties:
        name:
          description: 文件名
          type: string
          example: 5f7415053d5ab4eae7156da7b9073ec7_news_0
        expire:
          description: 到期时间
          type: int64
          example: 1547805642
        idx:
          description: 0
          type: int32
          example: 0
        is_uploaded:
          description: 是否上传
          type: boolean
          example: true
        size:
          description: 大小
          type: int64
          example: 33665488
        zip_filename:
          description: 压缩文件名
          type: string
          example: 5f7415053d5ab4eae7156da7b9073ec7_news_0.gz
        zip_filesize:
          description: 压缩之后大小
          type: int64
          example: 11599435
        row_count:
          description: 行数
          type: int64
          example: 8600
        internal_url:
          description: 内部url
          type: string
          example: http://archon2018000000.oss-cn-hangzhou-internal.aliyuncs.com/archon_data%2F5f7415053d5ab4eae7156da7b9073ec7_news_0.gz?Expires=1547805643&OSSAccessKeyId=gZL8z938T19mSUHf&Signature=9EdRkxd0UpSUHUdNBjK6eF0Wkg4%3D
        external_url:
          description: 外部url
          type: string
          example: http://archon2018000000.oss-cn-hangzhou.aliyuncs.com/archon_data%2F5f7415053d5ab4eae7156da7b9073ec7_news_0.gz?Expires=1547805643&OSSAccessKeyId=gZL8z938T19mSUHf&Signature=9EdRkxd0UpSUHUdNBjK6eF0Wkg4%3D
    NewsPartFile1:
      type: object
      properties:
        name:
          description: 文件名
          type: string
          example: 5f7415053d5ab4eae7156da7b9073ec7_news_0
        expire:
          description: 到期时间
          type: int64
          example: 1547805642
        idx:
          description: 0
          type: int32
          example: 0
        is_uploaded:
          description: 是否上传
          type: boolean
          example: true
        size:
          description: 大小
          type: int64
          example: 33665488
        zip_filename:
          description: 压缩文件名
          type: string
          example: 5f7415053d5ab4eae7156da7b9073ec7_news_0.gz
        zip_filesize:
          description: 压缩之后大小
          type: int64
          example: 11599435
        row_count:
          description: 行数
          type: int64
          example: 8600
        internal_url:
          description: 内部url
          type: string
          example: http://archon2018000000.oss-cn-hangzhou-internal.aliyuncs.com/archon_data%2F5f7415053d5ab4eae7156da7b9073ec7_news_0.gz?Expires=1547805643&OSSAccessKeyId=gZL8z938T19mSUHf&Signature=9EdRkxd0UpSUHUdNBjK6eF0Wkg4%3D
        external_url:
          description: 外部url
          type: string
          example: http://archon2018000000.oss-cn-hangzhou.aliyuncs.com/archon_data%2F5f7415053d5ab4eae7156da7b9073ec7_news_0.gz?Expires=1547805643&OSSAccessKeyId=gZL8z938T19mSUHf&Signature=9EdRkxd0UpSUHUdNBjK6eF0Wkg4%3D
    NewsInfos:
      type: object
      properties:
        id:
          description: 唯一id
          type: string
          example: 5f7415053d5ab4eae7156da7b9073ec7
        status:
          description: 0(任务等待执行)、1(执行中)、4(执行完毕)、6(任务创建)
          type: integer
          example: 4
        created_at:
          description: 创建时间
          type: int64
          example: 1545213632
        row_count: 
          description: 行数
          type: int64
          example: 16903
        table_name: 
          description: 表名
          type: string
          example: news
        tag_id: 
          description: 标签id
          type: integer
          example: 252
        offset_id: 
          description: 偏移量id
          type: int64
          example: 3682474
        current_idx: 
          description: 当前索引
          type: integer
          example: 2
        split_interval_type:
          description: 分隔列表
          type: integer
          example: 0
        indices: 
          description: 索引
          type: object
          example: {}
        # indices:
        #   allOf:
        #     - $ref: '#/components/schemas/Infos'
        part_files:
          description: 文件
          type: array
          items: 
            $ref: '#/components/schemas/NewsPartFile'
          maxItems: 50
    NewsMeta:
      type: object
      properties:
        code:
          description: 状态码
          type: integer
          example: 200
        infos:
          allOf:
            - $ref: '#/components/schemas/NewsInfos'     
    News:
      type: object
      properties:
        meta:
          description: 元数据
          allOf:
            - $ref: '#/components/schemas/NewsMeta'
      # xml:
      #   name: News
    ThinktanksList:
      type: object
      properties:
        id:
          description: 新闻唯一id
          type: string
          example: 9b8d6940344981db91fdceb0b52db897
        title:
          description: 新闻题目
          type: string
          example: Sea, air and land updates
        site:
          description: 站点名称
          type: string
          example: 澳大利亚战略政策研究所
        desp:
          description: 新闻内容详情
          type: text
          example: "Sea, air and land updates 19 Jan 2016|Alice Slevison, Mercedes Page and James Mugg SHARE Print This Post Sea State Last week, 10 US soldiers were held by Iran’s military after their riverine boat drifted into Iranian waters. In order to complete the journey from Bahrain to Kuwait, the two vessels were required to refuel at a meeting point located three miles west of the 12-mile limit surrounding Iran’s Farsi Island. However, the boats strayed from the approved course and ended up in Iranian territorial waters. It’s believed that at least one of the boats had mechanical problems.The release of the naval officer came after 16 hours of negotiations, with Iran’s Naval Commander, Admiral Ali Fadavi, stating that  ‘this trespassing was not hostile or for spying purposes‘ and that the naval officers had been in Iranian territory ‘due to a broken navigation system’. Last Wednesday, the head of the US Coastguard, Commandant Admiral Paul Zukunft,announced a Federal Business Opportunities solicitation for the Polar Class Icebreaker Replacement Program. A second icebreaker is important to the Coast Guard’s Arctic strategy, with President Obama last year calling for the US to accelerate plans to buy at least one new heavy icebreaker by 2020. Each ship is likely to cost around US$1 billion. Zukunft has said that the US has a long way to catch up with its number one Arctic competitor, Russia, which has 41 icebreakers and another 14 under construction, in contrast to the US which has the Polar Starand the medium icebreaker Healy. Meanwhile, the Philippines has announced its intention to offer the US military use of eight bases, after the country’s Supreme Court upheld a security agreement with Washington. The facilities include the former Clark Airbase and air and naval facilities on the south-west island of Palawan which faces the South China Sea. It’s reported that the Americans are also seeking access to three civilian seaports, including Subic Bay, a former US Navy base. Flight Path Pentagon officials have revealed to Defense One that the US Air Force has given up immediate plans to retire the A-10 Thunderbolt II attack plane. The A-10, affectionately known as the Warthog, is designed to provide close air support and to withstand enemy ground fire. The postponement of the ageing attack plane is said to be due to its critical role in the fight against ISIS in Iraq and Syria. For Warthog novices, Business Insider looks at why US soldiers love the A-10 and how it sparks fear in their enemies, complete with pictures and video footage, which you can check out here. The growing schism between Vietnam and China over the South China Sea looks set to take off into the skies, at least according to an article on The National Interest which looks at Vietnam’s negotiations with American and European manufacturers to purchase a range of new aircraft to replace its ageing Russian-made fleet of fighters. For a different take on the negotiations, Robert Farley at The Diplomat checks out the potential shift in Vietnamese military aviation, and why it matters if the Vietnam People’s Air Force begins flying western fighters. Quick read: Northrop Grumman has laid out their vision for a sixth generation long-range unmanned fighter with advanced cyber resiliency. DefenseNews takes a look. Rapid Fire Robots may soon be raining from the sky, as the US Army begins testing a new robot-assisted parachute system. The aerial guidance unit is designed to allow military cargo-drops into forward operating bases without the use of GPS, instead relying on a camera and custom software to guide the parachute. The desire for a system that doesn’t rely on GPS stems from its limitations, which includes unreliable signal strength in places like the valleys of Afghanistan and the possibility of enemy signal jamming. The US Army has also approved plans to upgrade its Chinook fleet in the 2020s—specifically the CH-47F and MH-47G variants. While the exact upgrade technologies haven’t yet been determined, they will aim to improve the Chinook’s lift capability noticeably. That’s good news for the Australian Defence Force, as the Australian Army operates seven CH-47F Chinooks, with Defence thinking about boosting the fleet by three. The Turkish army will soon have a brand new base in Somalia—Turkey’s first military base in Africa. The base is intended as a training facility for Somali troops, many of whom are engaged in the fight against al-Shabaab militants. The news comes on the heels of an earlier announcement that Turkey will be building a base in Qatar. AUTHOR Alice Slevison, Mercedes Page and James Mugg are research interns at ASPI. Image courtesy of Flickr user Holmes Palacios Jr."
        author:
          description: 新闻作者(多个作者之间用逗号隔开)
          type: string
          example: Alice Slevison, Mercedes Page and Zoe Hawkins
        source_url:
          description: 源链接
          type: string
          example: http://www.aspistrategist.org.au/sea-air-and-land-updates-23/
        country:
          description: 国家名称
          type: string
          example: 澳大利亚
        file_url:
          description: 文件url
          type: string
          example: http://bhmpub.oss-cn-qingdao.aliyuncs.com/thinktanks/41ca1b9e0f71b5c25f0f9838e86711b7.docx
    ThinktanksInfos:
      type: object
      properties:
        offset_id:
          description: 翻页参数(偏移量id)
          type: integer
          example: 146
        lists:
          description: 列表
          type: array
          items:
            $ref: '#/components/schemas/ThinktanksList'
    ThinktanksMeta:
      type: object
      properties:
        code:
          description: 状态码
          type: integer
          example: 200
        infos:
          allOf:
            - $ref: '#/components/schemas/ThinktanksInfos'
    Thinktanks:
      type: object
      properties:
        meta:
          description: 元数据
          allOf:
            - $ref: '#/components/schemas/ThinktanksMeta'
  requestBodies:
    # Pet:
    #   content:
    #     application/json:
    #       schema:
    #         allOf:
    #           - description: My Pet
    #             title: Pettie
    #           - $ref: '#/components/schemas/Pet'
    #     application/xml:
    #       schema:
    #         type: 'object'
    #         properties:
    #           name:
    #             type: string
    #             description: hooray
    #   description: Pet object that needs to be added to the store
    #   required: true
    # UserArray:
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/User'
      description: List of user object
      required: true
  securitySchemes:
    # petstore_auth:
    #   description: |
    #     Get access to data while protecting your account credentials.
    #     OAuth2 is also a safer and more secure way to give you access.
    #   type: oauth2
    #   flows:
    #     implicit:
    #       authorizationUrl: 'http://petstore.swagger.io/api/oauth/dialog'
    #       scopes:
    #         'write:pets': modify pets in your account
    #         'read:pets': read your pets
    # api_key:
      description: >
        For this sample, you can use the api key `special-key` to test the
        authorization filters.
      type: apiKey
      name: api_key
      in: header
